button {
    margin-top: 50px;
    margin-right: 26px;
    width: 350px;
    height: 550;
    border-radius: 30px;
    font-size: 50px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 5px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    background-color: rgb(224, 108, 93);
  }

  #Winter{
    position: absolute;
    top: 50px;
    right: 25px;
  }

  #Spring{
    position: absolute;
    top: 200px;
    right: 25px;
  }

  #Summer{
    position: absolute;
    top: 350px;
    right: 25px;
  }

  #Autumn{
    position: absolute;
    top: 500px;
    right: 25px;
  }

  #qanakEl {
    position: absolute;
    top: 0px;
    right: 550px;
    font-size: 100px;
  }